<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h2>Lista Usuarios</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/user/nuevo'}">Nuevo Usuario</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="usuario, info : ${listausuarios}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${usuario.id_user}"></td>
            <td th:text="${usuario.firstname}"></td>
            <td th:text="${usuario.lastname}"></td>
            <td th:text="${usuario.email}"></td>
            <td><a class="btn btn-primary"
                   th:href="@{'/user/editar' + '?id=' + ${usuario.id_user}}">Editar</a>
            </td>
            <td><a class="btn btn-danger"
                   th:href="@{'/user/borrar' + '?id=' + ${usuario.id_user}}">Borrar</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>